<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Title</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
	<script type="text/javascript">
		ymaps.ready(init);
		var myMap,
			myPlacemark;

		function init(){
			myMap = new ymaps.Map("map", {
				center: [43.2220, 76.8512],
				zoom: 7
			});

		myPlacemark = new ymaps.Placemark([43.2220, 76.8512], {
			hintContent: 'Алматы |',
			balloonContent: 'Лучший город Казахстана'
		});

		myMap.geoObjects.add(myPlacemark);
		}

		$(function() {
			$("#button-to-click").click(function(){
				$.ajax({
					url: "/drf.json",
					success: function(result){
						alert(result.data);
					}
				});
			});
		});
	</script>
</head>
<body>

	Our objects:
	<table>
		{% for object in data %}
		<tr>
			<!-- <td>{{ object.question_text}}</td> -->
			<!-- <td>{{ object.pub_date}}</td> -->
			<td>{{ object.properties.latitude }}</td>
			<td>{{ object.longitude }}</td>
		</tr>
		{% endfor %}
	</table>

	<button id="button-to-click">Click me</button>

	<form action="" method="post">{% csrf_token %}
		<!-- <label for="your_name">Вопрос: </label> -->
		<!-- <input id="question_text" type="text" name="question_text" value=""> -->
		<input id="address" type="text" name="address" value="">
		<input id="latitude" type="number" name="latitude" value="">
		<input id="longitude" type="number" name="longitude" value="">
		<input type="submit" value="OK">
	</form>

    <div id="map" style="width: 600px; height: 400px"></div>

</body>
</html>